LIVE_TABLE_HOST=0.0.0.0
LIVE_TABLE_PORT=9123
LIVE_TABLE_BETTING_MS=18000
LIVE_TABLE_LOCK_MS=2000
LIVE_TABLE_PAYOUT_MS=2000
LIVE_TABLE_COOLDOWN_MS=8000
LIVE_TABLE_TICK_MS=1000
LIVE_TABLE_BOT_COUNT=0
LIVE_TABLE_BOT_BALANCE=1000000
LIVE_TABLE_BOT_BET_MIN=10
LIVE_TABLE_BOT_BET_MAX=200
LIVE_TABLE_BOT_BETS_MIN=1
LIVE_TABLE_BOT_BETS_MAX=3
LIVE_TABLE_BOT_MAX_ACTIVE_BETS=12
LIVE_TABLE_BOT_SEED=42
NODE_ENV=production
