openapi: 3.1.0
info:
  title: Nullspace Gateway API
  description: |
    HTTP API for the Nullspace Gateway service.

    The Gateway primarily uses WebSocket for game communication. This HTTP API
    provides health probes, readiness checks, and metrics for monitoring.

    All error responses use RFC 7807 Problem Details format (`application/problem+json`).
  version: 1.0.0
  contact:
    name: Nullspace Team
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary

servers:
  - url: https://gateway.nullspace.gg
    description: Production
  - url: https://gateway.staging.nullspace.gg
    description: Staging
  - url: http://localhost:9010
    description: Local development

tags:
  - name: Health
    description: Liveness and readiness probes for orchestration
  - name: Metrics
    description: Operational metrics for monitoring

paths:
  /livez:
    get:
      operationId: getLiveness
      summary: Liveness probe
      description: |
        Returns OK if the process is running. Use for Kubernetes liveness probes.

        Does not check backend connectivity - use `/healthz` for that.
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Process is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LivenessResponse'
              example:
                ok: true

  /healthz:
    get:
      operationId: getReadiness
      summary: Readiness probe
      description: |
        Returns OK if the gateway is ready to serve traffic.

        Checks:
        - Backend (simulator) connectivity
        - Not in drain state (graceful shutdown)

        Use for Kubernetes readiness probes and load balancer health checks.
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Gateway is ready and backend is connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
              example:
                ok: true
                backend: connected
        '503':
          description: Gateway is not ready
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DrainingResponse'
                  - $ref: '#/components/schemas/BackendUnreachableResponse'
              examples:
                draining:
                  summary: Gateway is draining for shutdown
                  value:
                    ok: false
                    status: draining
                    drainElapsedMs: 5000
                    activeSessions: 3
                    activeGames: 1
                backendUnreachable:
                  summary: Backend simulator is unreachable
                  value:
                    ok: false
                    backend: unreachable

  /readyz:
    get:
      operationId: getReady
      summary: Readiness probe (alias)
      description: Alias for `/healthz`. Provided for Kubernetes naming conventions.
      tags:
        - Health
      security: []
      responses:
        '200':
          $ref: '#/paths/~1healthz/get/responses/200'
        '503':
          $ref: '#/paths/~1healthz/get/responses/503'

  /metrics:
    get:
      operationId: getMetrics
      summary: Get operational metrics
      description: |
        Returns JSON metrics for monitoring dashboards.

        Includes counters for:
        - WebSocket connections (connect/disconnect)
        - Message types processed
        - Sessions (created/destroyed/active)
        - Rate limit hits by type

        Authentication required via Bearer token or `x-metrics-token` header.
      tags:
        - Metrics
      security:
        - bearerAuth: []
        - metricsTokenAuth: []
      responses:
        '200':
          description: Metrics returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
              example:
                timestamp: 1704672000000
                metrics:
                  gateway.connections.connect: 1234
                  gateway.connections.disconnect: 1200
                  gateway.messages.bet: 5000
                  gateway.messages.success: 4900
                  gateway.messages.error: 100
                  gateway.sessions.created: 500
                  gateway.sessions.destroyed: 480
                  gateway.sessions.active: 20
                  gateway.rate_limits.total: 15
                  uptime_seconds: 86400
        '401':
          description: Missing or invalid authentication
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: urn:nullspace:problem:unauthorized
                title: Unauthorized
                status: 401
                detail: Missing or invalid authorization. Use Bearer token or x-metrics-token header.
        '429':
          description: Rate limit exceeded
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/RateLimitedProblem'
              example:
                type: urn:nullspace:problem:rate-limited
                title: Too Many Requests
                status: 429
                detail: Rate limit exceeded. Retry after 60 seconds.
                retryAfter: 60
        '503':
          description: Metrics not configured (production)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
              example:
                type: urn:nullspace:problem:service-unavailable
                title: Service Unavailable
                status: 503
                detail: Metrics authentication not configured

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Standard Bearer token authentication.

        Set via `METRICS_AUTH_TOKEN` environment variable.
    metricsTokenAuth:
      type: apiKey
      in: header
      name: x-metrics-token
      description: |
        Alternative token header for metrics authentication.

        Accepts the same token as Bearer auth. Provided for parity with other services.

  schemas:
    LivenessResponse:
      type: object
      required:
        - ok
      properties:
        ok:
          type: boolean
          const: true

    ReadinessResponse:
      type: object
      required:
        - ok
        - backend
      properties:
        ok:
          type: boolean
          const: true
        backend:
          type: string
          const: connected

    DrainingResponse:
      type: object
      required:
        - ok
        - status
        - drainElapsedMs
        - activeSessions
        - activeGames
      properties:
        ok:
          type: boolean
          const: false
        status:
          type: string
          const: draining
        drainElapsedMs:
          type: integer
          description: Milliseconds since drain started
        activeSessions:
          type: integer
          description: Number of active WebSocket sessions
        activeGames:
          type: integer
          description: Number of games in progress

    BackendUnreachableResponse:
      type: object
      required:
        - ok
        - backend
      properties:
        ok:
          type: boolean
          const: false
        backend:
          type: string
          const: unreachable

    MetricsResponse:
      type: object
      required:
        - timestamp
        - metrics
      properties:
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp in milliseconds
        metrics:
          type: object
          additionalProperties:
            type: number
          description: |
            Metric name to value mapping.

            Standard metric names:
            - `gateway.connections.connect` - Total WebSocket connections
            - `gateway.connections.disconnect` - Total disconnections
            - `gateway.messages.<type>` - Messages by type (bet, move, etc.)
            - `gateway.messages.success` - Successful message processing
            - `gateway.messages.error` - Failed message processing
            - `gateway.sessions.created` - Sessions created
            - `gateway.sessions.destroyed` - Sessions ended
            - `gateway.sessions.active` - Current active sessions
            - `gateway.rate_limits.total` - Total rate limit hits
            - `gateway.rate_limits.<type>` - Rate limits by type
            - `uptime_seconds` - Process uptime

    ProblemDetails:
      type: object
      description: RFC 7807 Problem Details
      required:
        - type
        - title
        - status
      properties:
        type:
          type: string
          format: uri
          description: URI reference identifying the problem type
          example: urn:nullspace:problem:unauthorized
        title:
          type: string
          description: Short, human-readable problem summary
          example: Unauthorized
        status:
          type: integer
          description: HTTP status code
          example: 401
        detail:
          type: string
          description: Human-readable explanation for this occurrence
          example: Missing or invalid authorization token
        instance:
          type: string
          format: uri
          description: URI reference for this specific occurrence
          example: urn:nullspace:request:abc123
        code:
          type: string
          description: Machine-readable error code (legacy compatibility)
          example: unauthorized

    RateLimitedProblem:
      allOf:
        - $ref: '#/components/schemas/ProblemDetails'
        - type: object
          properties:
            retryAfter:
              type: integer
              description: Seconds to wait before retrying
              example: 60
